      <footer class="text-center py-10 px-6">
        <div class="mb-5">
          <a href="#home" data-page="home" class="page-link inline-block">
            <!-- Logo Placeholder -->
            <img
              src="/CrystronLogo-removebg-preview.png"
              alt="Crystron Technologies Logo"
              class="logo-img-footer mx-auto"
            />
          </a>
        </div>
        <div class="flex justify-center space-x-7 mb-5">
          <a
            href="https://www.linkedin.com/company/crystron/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
            class="text-2xl hover:text-accent-primary transition"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
        <p class="text-base">
          &copy; <span id="currentYear"></span> Crystron Technologies Inc. All
          Rights Reserved.
        </p>
        <p class="text-sm mt-3">
          Pioneering Sustainable Battery Solutions for a Cleaner Tomorrow.
        </p>
      </footer>
    </div>

